/* LOCATION MODAL */
.location-modal {
    position: absolute;
    bottom: -140px;
    padding: 30px;
    width: 290px;
    background: var(--white-color);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.3s;
}

.location-modal.active {
    opacity: 1;
    visibility: visible;
}


.location-heading {
    margin-bottom: 20px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.location-buttons {
    display: flex;
    align-items: center;
}

.location__modal-btn {
    width: 57px;
    height: 35px;
    background: var(--primary-color);
    color: var(--white-color);
    transition: all linear 0.2s;
    &:hover {
        background: var(--primary-hover);
    }
}
.location_modal_btn_other {
    margin-left: 10px;
    width: 136px;
    height: 35px;
    background: var(--white-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: all linear 0.3s;
    &:hover {
        background: rgba(110, 65, 226, 0.04);
    }
}
.modal-city {
    font-weight: 400;
}
