.header-midle {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    @media (max-width:1024px) {
        display: none;
    }
}
.header__nav {
    margin-right: auto;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    padding-right: 20px;
    position: relative;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    color: var(--black-color);
    &:not(:last-child) {
        margin-right: 33px;
    }
}
.header__nav-item::after {
    content: "";
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-bottom: solid 2px var(--primary-color);
    border-right: solid 2px var(--primary-color);
    border-radius: 1px;
}
.search-container {
    position: relative;
    display: flex;
    @media (max-width:1100px) {
       width: 18px;
       height: 18px;
     }
}

.search {
    padding: 0 20px;
    width: 324px;
    height: 36px;
    border: 1px solid #f1f1f1;
    border-radius: 100px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #111111c2;
    @media (max-width:1240px) {
        width: 200px;
    }
    @media (max-width:1100px) {
       display: none;
    }
}

.search-container img {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
