.header-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:1024px) {
        display: none;
    }
}
.heder-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 200px;
}
.logo-img {
    margin-right: 10px;
    width: 70px;
    height: 73px;
    @media (max-width:768px) {
       width: 34px;
       height: 35px;
    }
}
.slogan-img {
    width: 123px;
    height: 41px;
    @media (max-width:768px) {
       width: 59px;
       height: 22px;
    }
}
.header-bascket {
    position: relative;
    display: flex;
    align-items: center;
    width: 430px;
}
.header__bascket-description {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.header__bascket-img {
    position: absolute;
    right: 50px;
    height: 100px;
}
.bascket-amount {
    position: absolute;
    top: 0;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: linear-gradient(45deg, #6e41e2 0%, #b89dff 100%);

    font-family: "Montserrat";
    font-size: 18px;
    line-height: 22px;
    color: var(--white-color);
    cursor: pointer;
}
.header-buttons {
    position: relative;
    padding-right: 152px;
    display: flex;
    flex-direction: column;
    width: 320px;
    &::after{
        content:'';
        position: absolute;
        top: -18px;
        right: 0;
        width: 143px;
        height: 120px;
        background: url(../../img/header-girl.png)no-repeat;
        background-size: cover;
    }
}
.header__botom-btn {
width: 174px;
height: 36px;
border: 1px solid #E3DAF9;
border-radius: 100px;
&:first-child{
    margin-bottom: 10px;
}
}
