body {
    font-family: "Roboto";
    background-color: #fafafa;
    color: var(--black-color);
}
.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1278px;
    @media (max-width:1024px) {
        padding: 0 20px;
    }
    @media (max-width:768px) {
        padding: 0 10px;
    }
}
button{
    cursor: pointer;
    user-select: none;
}

.btn {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: var(--primary-color);
    border: 2px solid #6E41E2;
    border-radius: 4px;
    
}

.shadow {
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
}
.heading-1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 56px;
    line-height: 64px;
    color: #c4c4c4;
}
.heading-3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #c4c4c4;
}
.heading-4 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
.heading-5 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
.heading-6 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
}
.paragraph-bold-1-20 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
}
.paragraph-bold-1-18 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.paragraph-2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.paragraph-3-13 {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: var(--gray-color);
}


// докачать шрифт "Montserrat-black"
