// ===========подключнеие
@import "mixins";
/* fonts========== */
@import "fonts";
/* resset */
@import "settings";
/* Global variables */
@import "vars.scss";
/* Header */
@import "header.scss";
/* main content */
@import "body.scss";
/* Footer */
@import "footer.scss";

