
// Указываем box sizing 
*,
*::before,
*::after {
  box-sizing: border-box;
}
//задаём цвета

// Убираем внутренние отступы 
ul[class],
ol[class] {
  padding: 0;
}
// Убираем внешние отступы 
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
// Выставляем основные настройки по-умолчанию для body 
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
  }
// Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class
ul[class],
ol[class] {
  list-style: none;
}
// Элементы a, у которых нет класса, сбрасываем до дефолтных стилей
a {
    text-decoration: none;
    color: inherit;
  }
// Упрощаем работу с изображениями 
img {
    max-width: 100%;
    vertical-align: bottom;
  }
// Наследуем шрифты для инпутов и кнопок 
input,
button,
textarea,
select {
font: inherit;
}

button{
  border: none;
  background-color: transparent;
}

*:focus{
  outline: none;
}