:root{
    --white-color: #fff;
    --black-color:#000;
    --buttons-color: #9D5CD0;
    --grey-color:#cacaca;
}

$white:var(--white-color);
$black:var( --black-color);
$grey:var( --grey-color);
$buttons-color:var( --buttons-color);