:root{
    --white-color: #fff;
    --black-color:#111111;
    --gray-color:#848484;
    --gray-light:#F1F1F1;
    --gray-medium: #fafafa;
    --primary-color:#6E41E2;
    --primary-hover:#5835B0;
    --primary-disabled:#e3daf9;
    --star-color:#FFD912;
    --Green-color:#27AE60;
    --blue-color:#428BF9;
}

